@font-face {
    font-family: "KomikaTitle";
    src: url(KomikaTitle.woff);
}
@font-face {
    font-family: "KomikaTitle-Paint";
    src: url(KomikaTitle-Paint.woff);
}
@font-face {
    font-family: "KomikaTitle-Tall";
    src: url(KomikaTitle-Tall.woff);
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    text-transform: uppercase;
    font-family: "KomikaTitle-Tall", sans-serif;
    font-weight: 400;
}

*::-moz-selection {
    color: black; 
    background: rgb(242, 51, 34);
}

*::selection {
    color: black; 
    background: rgb(242, 51, 34);
}

html {
    font-size: 62.5%;
}

body {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(242, 203, 5, 0.8)), to(rgba(242, 51, 34, 0.8))), url('bg-min.jpg') ;
    background-image: linear-gradient(rgba(242, 203, 5, 0.8), rgba(242, 51, 34, 0.8)), url('bgmin2.jpg') ;
    /* background-size: 250px; */
    background-size: cover;
    background-position: top;
    color: white;
    /* font-size: 1.6rem; */
    height: 100vh;
    position: relative;
}

.wrap {
    position: absolute;
    top:50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    width: 40rem;
    /* border: 1px solid black; */
    -webkit-box-shadow: 0 0 1rem black;
            box-shadow: 0 0 1rem black;
}

/*********************** 
    HEADINGS
***********************/

h1 {
    text-align: center;
    font-family: "KomikaTitle-Paint";
    text-shadow: 0 1px 0 rgb(204,204,204) ,
                0 2px 0 rgb(201, 201, 201),
                0 3px 0 rgb(187, 187, 187),
                0 4px 0 rgb(185, 185, 185),
                0 5px 0 rgb(170, 170, 170),
                0 6px 1px rgba(0, 0, 0, 0.0980392),
                0 0 5px rgba(0, 0, 0, 0.0980392),
                0 1px 3px rgba(0, 0, 0, 0.298039),
                0 3px 5px rgba(0, 0, 0, 0.2),
                0 5px 10px rgba(0, 0, 0, 0.247059),
                0 10px 10px rgba(0, 0, 0, 0.2),
                0 20px 20px rgba(0, 0, 0, 0.14902); 
    margin-bottom: 2rem;  
    font-size: 5rem;
    -webkit-animation: bounceIn 0.5s ease-out 2s;
            animation: bounceIn 0.5s ease-out 2s;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
}

h2 {
    font-family: "KomikaTitle";
    text-align: center;
    font-size: 2.8rem;
    -webkit-animation: fadeIn 0.5s ease-out 2.7s;
            animation: fadeIn 0.5s ease-out 2.7s;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
}

h2::after {
    content: '';
    display: block;
    height: 4px; 
    width: 5rem;
    background: white;
    margin-left: auto;
    margin-right: 5rem;
    margin-top: 1rem;
}


/*********************** 
    FORM ELEMENTS
***********************/


input{
    display: block;
    margin: 1.5rem auto;
    width: 80%;
    padding: 5px;
    text-align: center;
    background: rgba(0,0,0,0.3);
    border-radius: 30rem;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    color: white;
    outline: 0;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.8);
            box-shadow: 0 2px 5px rgba(0,0,0,0.8);
}

input:active, input:focus {
    background: rgba(0,0,0,0.8);
    outline: 0;
}

input::-webkit-input-placeholder {
    color: rgba(255,255,255,0.5);
}

input:-ms-input-placeholder {
    color: rgba(255,255,255,0.5);
}

input::placeholder {
    color: rgba(255,255,255,0.5);
}

select {
    display: block;
    margin: 0.5rem auto;
    width: 80%;
    padding: 5px;
    text-align: center;
    background: rgba(0,0,0,0.3);
    outline: 0;
    color: rgba(255,255,255,1);
    border-radius: 10rem;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.8);
            box-shadow: 0 2px 5px rgba(0,0,0,0.8);
}

option[value] {
    background:rgb(0,0,0,);
    color: white;
    border-radius: 50rem;
    text-align: center;
}

label {
    display: block;
    text-align: center;
    font-size: 1.6rem;
}

.btn {
    font-family: "KomikaTitle-Paint";
    color: black;
    background: white;
    width: 50%;
    font-size: 2rem;
    -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.8);
            box-shadow: 0 5px 5px rgba(0,0,0,0.8);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.btn:hover {
    background: white;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.8);
            box-shadow: 0 5px 5px rgba(0,0,0,0.8);1
}

.btn:active, .btn:focus {
    background: white;
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.8);
            box-shadow: 0 2px 5px rgba(0,0,0,0.8);
}
/* All elements animate */
input, select, label {
    -webkit-animation: fadeIn 0.5s ease-out 3s;
            animation: fadeIn 0.5s ease-out 3s;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
}

/*********************** 
    KEYFRAMES
***********************/
@-webkit-keyframes bounceIn {
    0% {
        -webkit-transform: translateY(-4rem);
                transform: translateY(-4rem);
        opacity: 0;
    }

    60% {
        -webkit-transform: translateY(0rem);
                transform: translateY(0rem);
        opacity: 0.5;
    }

    80% {
        -webkit-transform: translateY(-1rem);
                transform: translateY(-1rem);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}
@keyframes bounceIn {
    0% {
        -webkit-transform: translateY(-4rem);
                transform: translateY(-4rem);
        opacity: 0;
    }

    60% {
        -webkit-transform: translateY(0rem);
                transform: translateY(0rem);
        opacity: 0.5;
    }

    80% {
        -webkit-transform: translateY(-1rem);
                transform: translateY(-1rem);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}